<app-top-nav [items]="top_nav_items" [config]="top_nav_config"></app-top-nav>
<div class="container-fluid">
  <form>
    <!--<mat-form-field class="col-12">
    <mat-select placeholder="Template" [(value)]="item.name">
      <mat-option *ngFor="let template of templates" [value]="template">{{template}}</mat-option>
    </mat-select>
  </mat-form-field>-->

  <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput placeholder="Language" [(ngModel)]="item.language" name="language">
      <mat-hint>language</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput placeholder="Article Url" [(ngModel)]="item.article_url" name="article_url">
      <mat-hint>article_url</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput placeholder="Article Title" [(ngModel)]="item.article_title" name="article_title">
      <mat-hint>article_title</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <textarea rows=5 matInput placeholder="Description" [(ngModel)]="item.description" name="description"></textarea>
      <mat-hint>description</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <textarea rows=5 matInput placeholder="Keywords" [(ngModel)]="item.keywords" name="keywords"></textarea>
      <mat-hint>keywords</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <textarea rows=10 matInput placeholder="Article Detail" [(ngModel)]="item.article_detail" name="article_detail"></textarea>
      <mat-hint>article_detail</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput placeholder="Image Url" [(ngModel)]="item.image_url" name="image_url">
      <mat-hint>image_url</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput placeholder="Article Type" [(ngModel)]="item.article_type" name="article_type">
      <mat-hint>article_type</mat-hint>
    </mat-form-field>

  </form>
  <div class="modal-footer">
      <button mat-raised-button color="accent" (click)="on_copy_click()" *ngIf="item._id"><i class="material-icons">file_copy</i> Copy Contest</button>
      <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="on_save_click()">Save</button>
    <button mat-raised-button (click)="on_close_click()">Close</button>
  </div>
</div>