.user-profile-thumb {
    width: 5rem;
    padding-left: 0.3rem !important;
    padding-top: 0.15rem;
}

.user-profile-thumb img{
    max-width: 4rem;
    border-radius: 2rem;
    height: 4rem;
    margin: .2rem;
}