<app-top-nav [items]="top_nav_items" [config]="top_nav_config"></app-top-nav>

<div class="container-fluid">
	<div *ngIf="!grid_view; else view_gridview">
		<div cdkDropList class="cdk-dragable-list" (cdkDropListDropped)="on_drop($event)">
			<div class="cdk-dragable-list-item" *ngFor="let row of list_usercontest" cdkDrag>{{row.user_id}}</div>
		</div>
	</div>

	<ng-template #view_gridview>
		<div class="mat-elevation-z8" id="list_user_contest_id" cdkDropListConnectedTo="list_contest_winner_id">
			<table cdkDropList mat-table [dataSource]="list_usercontest" cdkDropList [cdkDropListData]="list_usercontest">

				<!-- user_id column -->
				<ng-container matColumnDef="user_id">
					<th mat-header-cell *matHeaderCellDef>Picture </th>
					<td mat-cell *matCellDef="let element" class="user-profile-thumb">
						<img [src]="element.photo_url"></td>
				</ng-container>

				<ng-container matColumnDef="full_name">
					<th mat-header-cell *matHeaderCellDef> Name </th>
					<td mat-cell *matCellDef="let element">{{element.full_name}}</td>
				</ng-container>

				<ng-container matColumnDef="social_provider">
					<th mat-header-cell *matHeaderCellDef> Social </th>
					<td mat-cell *matCellDef="let element">{{element.social_provider}}</td>
				</ng-container>

				<!-- contest_id column -->
				<ng-container matColumnDef="contest_id">
					<th mat-header-cell *matHeaderCellDef> Contest Id </th>
					<td mat-cell *matCellDef="let element">{{element.contest_id}}</td>
				</ng-container>

				<!-- total_point column -->
				<ng-container matColumnDef="total_point">
					<th mat-header-cell *matHeaderCellDef> Total Point </th>
					<td mat-cell *matCellDef="let element">{{element.total_point}}</td>
				</ng-container>

				<!-- point_updated_at column -->
				<ng-container matColumnDef="point_updated_at">
					<th mat-header-cell *matHeaderCellDef> Point Updated At </th>
					<td mat-cell *matCellDef="let element">{{element.point_updated_at | date:'medium'}}</td>
				</ng-container>

				<!-- ranking column -->
				<ng-container matColumnDef="ranking">
					<th mat-header-cell *matHeaderCellDef> Ranking </th>
					<td mat-cell *matCellDef="let element">{{element.ranking}}</td>
				</ng-container>

				<ng-container matColumnDef="action">
					<th mat-header-cell *matHeaderCellDef> Add Winner </th>
					<td mat-cell *matCellDef="let element">
						<button mat-button color="secondary" (click)="on_row_add_winner(element)">Add Winner</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayed_columns; sticky: true" cdkDrag></tr>
				<tr mat-row *matRowDef="let row; columns: displayed_columns;" cdkDrag></tr>
			</table>
		</div>
	</ng-template>
</div>