<app-top-nav [items]="top_nav_items" (view_mode_click)="view_mode_click($event)" (add_click)="add_click()"></app-top-nav>

<div class="container-fluid">
<div *ngIf="!grid_view; else view_gridview">
  <div cdkDropList class="cdk-dragable-list" (cdkDropListDropped)="on_drop($event)">
    <div class="cdk-dragable-list-item"  *ngFor="let row of list_questionanswer" cdkDrag>{{row.question_text}}</div>
  </div>  
</div>
    <ng-template #view_gridview>
  	<div class="mat-elevation-z8">
    	<table mat-table [dataSource]="list_questionanswer">
    	
	        <!-- question_text column -->
	      <ng-container matColumnDef="question_text">
	        <th mat-header-cell *matHeaderCellDef> Question Text </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.question_text}} </a></td>
	      </ng-container>
	    
	        <!-- question_asked_by column -->
	      <ng-container matColumnDef="question_asked_by">
	        <th mat-header-cell *matHeaderCellDef> Question Asked By </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.question_asked_by}} </a></td>
	      </ng-container>
	    
	        <!-- question_asked_when column -->
	      <ng-container matColumnDef="question_asked_when">
	        <th mat-header-cell *matHeaderCellDef> Question Asked When </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.question_asked_when}} </a></td>
	      </ng-container>
	    
	        <!-- answer column -->
	      <ng-container matColumnDef="answer">
	        <th mat-header-cell *matHeaderCellDef> Answer </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.answer}} </a></td>
	      </ng-container>
	    
	        <!-- position column -->
	      <ng-container matColumnDef="position">
	        <th mat-header-cell *matHeaderCellDef> Position </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.position}} </a></td>
	      </ng-container>
	    
		<ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="on_row_delete(element)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayed_columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
    </table>
  </div>
  </ng-template>
</div>