<app-top-nav [items]="top_nav_items" [config] = "top_nav_config"></app-top-nav>
<div class="container-fluid">
	<form>
      <!--<mat-form-field class="col-12">
    <mat-select placeholder="Template" [(value)]="item.name">
      <mat-option *ngFor="let template of templates" [value]="template">{{template}}</mat-option>
    </mat-select>
  </mat-form-field>-->
  
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  required  placeholder="Question Text" [(ngModel)]="item.question_text" name="question_text">
        <mat-hint>question_text</mat-hint>
        </mat-form-field>
         
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  required  placeholder="Question Asked By" [(ngModel)]="item.question_asked_by" name="question_asked_by">
        <mat-hint>question_asked_by</mat-hint>
        </mat-form-field>
         
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  placeholder="Question Asked When" [(ngModel)]="item.question_asked_when" name="question_asked_when">
        <mat-hint>question_asked_when</mat-hint>
        </mat-form-field>
         
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <textarea rows=5 matInput  placeholder="Answer" [(ngModel)]="item.answer" name="answer"></textarea>
        <mat-hint>answer</mat-hint>
        </mat-form-field>
         
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  placeholder="Position" [(ngModel)]="item.position" name="position">
        <mat-hint>position</mat-hint>
        </mat-form-field>
         
    </form>
    <div class="modal-footer">
      <button mat-raised-button color="accent" (click)="on_copy_click()" *ngIf="item._id"><i class="material-icons">file_copy</i> Copy Contest</button>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" (click)="on_save_click()">Save</button>
      <button mat-raised-button (click)="on_close_click()">Close</button>
    </div>
</div>
