<app-top-nav [items]="top_nav_items" (view_mode_click)="view_mode_click($event)" (add_click)="add_click()"></app-top-nav>

<div class="container-fluid">
<div *ngIf="!grid_view; else view_gridview">
  <div cdkDropList class="cdk-dragable-list" (cdkDropListDropped)="on_drop($event)">
    <div class="cdk-dragable-list-item"  *ngFor="let row of list_metadata" cdkDrag>{{row.url}}</div>
  </div>  
</div>
    <ng-template #view_gridview>
  	<div class="mat-elevation-z8">
    	<table mat-table [dataSource]="list_metadata">
    	
	        <!-- article_title column -->
	      <ng-container matColumnDef="article_title">
	        <th mat-header-cell *matHeaderCellDef> Article Title </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.article_title}} </a></td>
	      </ng-container>
	    
	        <!-- description column -->
	      <ng-container matColumnDef="description">
	        <th mat-header-cell *matHeaderCellDef> Description </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.description}} </a></td>
	      </ng-container>
	    
	        <!-- keywords column -->
	      <ng-container matColumnDef="keywords">
	        <th mat-header-cell *matHeaderCellDef> Keywords </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.keywords}} </a></td>
	      </ng-container>
	    
	        <!-- article_url column -->
	      <ng-container matColumnDef="article_url">
	        <th mat-header-cell *matHeaderCellDef> Article Url </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.article_url}} </a></td>
	      </ng-container>
	    
	        <!-- image_url column -->
	      <ng-container matColumnDef="image_url">
	        <th mat-header-cell *matHeaderCellDef> Image Url </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.image_url}} </a></td>
	      </ng-container>
	    
	        <!-- article_type column -->
	      <ng-container matColumnDef="article_type">
	        <th mat-header-cell *matHeaderCellDef> Article Type </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.article_type}} </a></td>
	      </ng-container>
	    
		<ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="on_row_delete(element)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayed_columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
    </table>
  </div>
  </ng-template>
</div>