<app-top-nav [items]="top_nav_items" (view_mode_click)="view_mode_click($event)" (add_click)="add_click()"></app-top-nav>

<div class="container-fluid">
	<div *ngIf="!grid_view; else view_gridview">
		<div cdkDropList class="cdk-dragable-list" (cdkDropListDropped)="on_drop($event)">
			<div class="cdk-dragable-list-item" *ngFor="let row of list_contest" cdkDrag>{{row.contest_name}}</div>
		</div>
	</div>
	<ng-template #view_gridview>
		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="list_contest">

				<!-- contest_url column -->
				<ng-container matColumnDef="contest_url">
					<th mat-header-cell *matHeaderCellDef> Contest Url </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.contest_url}} </a></td>
				</ng-container>

				<ng-container matColumnDef="questions">
					<th mat-header-cell *matHeaderCellDef>Questions</th>
					<td mat-cell *matCellDef="let element">
						<a routerLink="{{element._id}}/questions"><button mat-button (click)="on_add_click()">
								<mat-icon>format_list_numbered</mat-icon> Questions
							</button></a>
					</td>
				</ng-container>
				<ng-container matColumnDef="result">
					<th mat-header-cell *matHeaderCellDef> Results </th>
					<td mat-cell *matCellDef="let element">
						<a routerLink="{{element._id}}/results"><button mat-button (click)="on_add_click()">
								<mat-icon>card_membership</mat-icon> Result
							</button></a>
					</td>
				</ng-container>
				<ng-container matColumnDef="metadata">
					<th mat-header-cell *matHeaderCellDef>Meta Data</th>
					<td mat-cell *matCellDef="let element">
						<button mat-button (click)="on_metadata_click(element)">
								<mat-icon>search</mat-icon> Meta Data
							</button>
					</td>
				</ng-container>
				<!-- contest_name column -->
				<ng-container matColumnDef="contest_name">
					<th mat-header-cell *matHeaderCellDef> Contest Name </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.contest_name}} </a></td>
				</ng-container>

				<!-- start_time column -->
				<ng-container matColumnDef="start_time">
					<th mat-header-cell *matHeaderCellDef> Start Time </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.start_time | date:'medium'}} </a></td>
				</ng-container>

				<!-- end_time column -->
				<ng-container matColumnDef="end_time">
					<th mat-header-cell *matHeaderCellDef> End Time </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.end_time | date:'medium'}} </a></td>
				</ng-container>

				<!-- banner_url column -->
				<ng-container matColumnDef="banner_url">
					<th mat-header-cell *matHeaderCellDef> Banner Url </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.banner_url}} </a></td>
				</ng-container>

				<!-- thumbnail_url column -->
				<ng-container matColumnDef="thumbnail_url">
					<th mat-header-cell *matHeaderCellDef> Thumbnail Url </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.thumbnail_url}} </a></td>
				</ng-container>

				<!-- team_a_name column -->
				<ng-container matColumnDef="team_a_name">
					<th mat-header-cell *matHeaderCellDef> Team A Name </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.team_a_name}} </a></td>
				</ng-container>

				<!-- team_a_image_url column -->
				<ng-container matColumnDef="team_a_image_url">
					<th mat-header-cell *matHeaderCellDef> Team A Image Url </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.team_a_image_url}} </a></td>
				</ng-container>

				<!-- team_b_name column -->
				<ng-container matColumnDef="team_b_name">
					<th mat-header-cell *matHeaderCellDef> Team B Name </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.team_b_name}} </a></td>
				</ng-container>

				<!-- team_b_image_url column -->
				<ng-container matColumnDef="team_b_image_url">
					<th mat-header-cell *matHeaderCellDef> Team B Image Url </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.team_b_image_url}} </a></td>
				</ng-container>

				<!-- description_short column -->
				<ng-container matColumnDef="description_short">
					<th mat-header-cell *matHeaderCellDef> Description Short </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.description_short}} </a></td>
				</ng-container>

				<!-- description_full column -->
				<ng-container matColumnDef="description_full">
					<th mat-header-cell *matHeaderCellDef> Description Full </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.description_full}} </a></td>
				</ng-container>

				<!-- image_urls column -->
				<ng-container matColumnDef="image_urls">
					<th mat-header-cell *matHeaderCellDef> Image Urls </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.image_urls}} </a></td>
				</ng-container>

				<!-- contest_status column -->
				<ng-container matColumnDef="contest_status">
					<th mat-header-cell *matHeaderCellDef> Contest Status </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.contest_status}} </a></td>
				</ng-container>

				<!-- position column -->
				<ng-container matColumnDef="position">
					<th mat-header-cell *matHeaderCellDef> Position </th>
					<td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.position}} </a></td>
				</ng-container>



				<ng-container matColumnDef="action" stickyEnd>
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let element">
						<button mat-button color="warn" (click)="on_row_delete(element)">Delete</button>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayed_columns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
			</table>
		</div>
	</ng-template>
</div>