
.login-card {
    margin: auto;
    text-align: center;
    padding-top: 20px;
  }
  
  .login-card img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
  
  .login-card mat-card-footer{
    text-align: left;
  }
  
  p {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
  }
  