<app-top-nav [items]="top_nav_items" [config] ="top_nav_config"></app-top-nav>

<mat-card class="login-card">
  <mat-card-title><strong>Siêu Dự Đoán</strong></mat-card-title>
  <img mat-card-image src="https://s3-ap-northeast-1.amazonaws.com/sieududoan/images/sieududoan-logo.png"
    alt="Sieu Du Doan Logo">

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="fb_login()"><i class="material-icons">
        lock_open
      </i> <strong>Đăng nhập</strong></button>
  </mat-card-actions>
</mat-card>