<app-top-nav [items]="top_nav_items" [config]="top_nav_config"></app-top-nav>
<div class="container-fluid">
  <form>
    <mat-form-field class="col-md-6" [floatLabel]="'always'">
      <input matInput required placeholder="Question Text" [(ngModel)]="item.question_text" name="question_text">
      <mat-hint>question_text</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-6" [floatLabel]="'always'">
      <input matInput placeholder="Question External Url" [(ngModel)]="item.question_external_url" name="question_external_url">
      <mat-hint>question_external_url</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-4" [floatLabel]="'always'">
      <input matInput placeholder="Close Time" [(ngModel)]="item.close_time" name="close_time">
      <mat-hint>close_time</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-4" [floatLabel]="'always'">
      <input matInput placeholder="Bonus Point" [(ngModel)]="item.bonus_point" name="bonus_point">
      <mat-hint>bonus_point</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-4" [floatLabel]="'always'">
      <input matInput placeholder="Position" [(ngModel)]="item.position" name="position">
      <mat-hint>position</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <textarea rows=5 matInput required placeholder="Question Items" [(ngModel)]="question_items" name="question_items"></textarea>
      <mat-hint>question_items</mat-hint>
    </mat-form-field>

    <mat-list class="col-md-12">
      <h3 mat-subheader>Câu trả lời đúng</h3>
      <mat-radio-group class="radio-group" [(ngModel)]="item.correct_answer" name="correct_answer">
        <mat-radio-button class="radio-button" [value]="">
          Chưa có kết quả
        </mat-radio-button>
        <mat-radio-button class="radio-button" *ngFor="let q_item of item.question_items" [value]="q_item">
          {{q_item}}
        </mat-radio-button>
        <button class="radio-button" mat-raised-button color="primary" (click)="on_save_correct_answer_click()">Save</button>
      </mat-radio-group>
    </mat-list>
  </form>

  <div class="modal-footer">
    <button mat-raised-button color="accent" (click)="on_copy_click()" *ngIf="item._id"><i class="material-icons">file_copy</i> Copy Contest</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="on_save_click()">Save</button>
    <button mat-raised-button (click)="on_close_click()">Close</button>
  </div>
  
</div>