<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="menu_click()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">SieuDuDoan - Admin</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="'side'" opened="'true'" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/contests"><i class="material-icons">
          add_to_queue</i> Contests Setup</a>
        <a mat-list-item routerLink="/questions-answers"><i class="material-icons">
            help</i> Question and Answers</a>
        <a mat-list-item routerLink="/metadatas"><i class="material-icons">
            view_agenda
          </i> SEO/Meta Data</a>
          <mat-divider></mat-divider>
          <a *ngIf="!is_logged_in" mat-list-item routerLink="/login" (click)="close_mat_sidenav()"><i class="material-icons">
              lock_open
            </i> Đăng Nhập Hệ Thống</a>
          <a *ngIf="is_logged_in" mat-list-item routerLink="/logout" (click)="close_mat_sidenav()"><i class="material-icons">
              exit_to_app
            </i> Đăng Xuất</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>