<app-top-nav [items]="top_nav_items" [config]="top_nav_config" (refresh_click)="on_refresh_click()"></app-top-nav>

<div class="container-fluid">
	<div *ngIf="!grid_view; else view_gridview">
		<div cdkDropList class="cdk-dragable-list" (cdkDropListDropped)="on_drop($event)">
			<div class="cdk-dragable-list-item" *ngFor="let row of list_contestwinner" cdkDrag>{{row.full_name}}</div>
		</div>
	</div>
	<ng-template #view_gridview>
		<div class="mat-elevation-z8 " (cdkDropListDropped)="on_drop($event)" cdkDropList [cdkDropListData]="list_contestwinner"
		 [cdkDropListConnectedTo]="list_user_contest_id">
			<table mat-table [dataSource]="list_contestwinner">

				<!-- ranking column -->
				<ng-container matColumnDef="ranking">
					<th mat-header-cell *matHeaderCellDef> Ranking </th>
					<td mat-cell *matCellDef="let element">{{element.ranking}} 
					</td>
				</ng-container>
				<!-- contest_id column -->
				<ng-container matColumnDef="photo_url">
					<th mat-header-cell *matHeaderCellDef>Picture </th>
					<td mat-cell *matCellDef="let element" class="user-profile-thumb">
						<img [src]="element.photo_url"></td>
				</ng-container>

				<!-- full_name column -->
				<ng-container matColumnDef="full_name">
					<th mat-header-cell *matHeaderCellDef> Full Name </th>
					<td mat-cell *matCellDef="let element">{{element.full_name}}
							<button mat-button color="secondary" (click)="on_row_up(element)">
									<i class="material-icons">arrow_upward</i>Up</button>
								<button mat-button color="secondary" (click)="on_row_down(element)">
										<i class="material-icons">arrow_downward</i>Down</button>
					</td>
				</ng-container>

				<!-- social_provider column -->
				<ng-container matColumnDef="social_provider">
					<th mat-header-cell *matHeaderCellDef> Social Provider </th>
					<td mat-cell *matCellDef="let element">{{element.social_provider}}</td>
				</ng-container>

				<!-- total_point column -->
				<ng-container matColumnDef="total_point">
					<th mat-header-cell *matHeaderCellDef> Total Point </th>
					<td mat-cell *matCellDef="let element">{{element.total_point}}</td>
				</ng-container>

				<!-- updated_at column -->
				<ng-container matColumnDef="updated_at">
					<th mat-header-cell *matHeaderCellDef> Updated At </th>
					<td mat-cell *matCellDef="let element">{{element.updated_at | date:'medium'}}</td>
				</ng-container>

				<ng-container matColumnDef="action" stickyEnd>
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let element">
						<button mat-button color="warn" (click)="on_row_delete(element)">Delete</button>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayed_columns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
			</table>
		</div>
	</ng-template>
</div>