<app-top-nav [items]="top_nav_items" (view_mode_click)="view_mode_click($event)" (add_click)="add_click()"></app-top-nav>

<div class="container-fluid">
<div *ngIf="!grid_view; else view_gridview">
  <div cdkDropList class="cdk-dragable-list" (cdkDropListDropped)="on_drop($event)">
    <div class="cdk-dragable-list-item"  *ngFor="let row of list_contestquestion" cdkDrag>{{row.question_text}}</div>
  </div>  
</div>
    <ng-template #view_gridview>
  	<div class="mat-elevation-z8">
    	<table mat-table [dataSource]="list_contestquestion">
    	
	        <!-- question_text column -->
	      <ng-container matColumnDef="question_text">
	        <th mat-header-cell *matHeaderCellDef> Question Text </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.question_text}} </a></td>
	      </ng-container>
	    
	        <!-- contest_id column -->
	      <ng-container matColumnDef="contest_id">
	        <th mat-header-cell *matHeaderCellDef> Contest Id </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.contest_id}} </a></td>
	      </ng-container>
	    
	        <!-- question_items column -->
	      <ng-container matColumnDef="question_items">
	        <th mat-header-cell *matHeaderCellDef> Question Items </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.question_items}} </a></td>
	      </ng-container>
	    
	        <!-- question_external_url column -->
	      <ng-container matColumnDef="question_external_url">
	        <th mat-header-cell *matHeaderCellDef> Question External Url </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.question_external_url}} </a></td>
	      </ng-container>
	    
	        <!-- close_time column -->
	      <ng-container matColumnDef="close_time">
	        <th mat-header-cell *matHeaderCellDef> Close Time </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.close_time | date:'medium'}} </a></td>
	      </ng-container>
	    
	        <!-- bonus_point column -->
	      <ng-container matColumnDef="bonus_point">
	        <th mat-header-cell *matHeaderCellDef> Bonus Point </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.bonus_point}} </a></td>
	      </ng-container>
	    
	        <!-- correct_answer column -->
	      <ng-container matColumnDef="correct_answer">
	        <th mat-header-cell *matHeaderCellDef> Correct Answer </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.correct_answer}} </a></td>
	      </ng-container>
	    
	        <!-- position column -->
	      <ng-container matColumnDef="position">
	        <th mat-header-cell *matHeaderCellDef> Position </th>
	        <td mat-cell *matCellDef="let element"><a routerLink="{{element._id}}"> {{element.position}} </a></td>
	      </ng-container>
	    
		<ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn" (click)="on_row_delete(element)">Delete</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayed_columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayed_columns;"></tr>
    </table>
  </div>
  </ng-template>
</div>