<app-top-nav [items]="top_nav_items" [config]="top_nav_config"></app-top-nav>
<div class="container-fluid">
  <form>
    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput required placeholder="Contest Url" [(ngModel)]="item.contest_url" name="contest_url">
      <mat-hint>contest_url</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput required placeholder="Contest Name" [(ngModel)]="item.contest_name" name="contest_name">
      <mat-hint>contest_name</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-3" [floatLabel]="'always'">
      <input matInput required placeholder="Start Time" [(ngModel)]="item.start_time" name="start_time">
      <mat-hint>start_time</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-3" [floatLabel]="'always'">
      <input matInput required placeholder="End Time" [(ngModel)]="item.end_time" name="end_time">
      <mat-hint>end_time</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-3">
      <mat-select placeholder="Contest Status" [(value)]="item.contest_status">
        <mat-option *ngFor="let status of contest_status_list" [value]="status">{{status}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="col-md-3" [floatLabel]="'always'">
      <input matInput placeholder="Position" [(ngModel)]="item.position" name="position">
      <mat-hint>position</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput placeholder="Banner Url" [(ngModel)]="item.banner_url" name="banner_url">
      <mat-hint>banner_url</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-12" [floatLabel]="'always'">
      <input matInput placeholder="Thumbnail Url" [(ngModel)]="item.thumbnail_url" name="thumbnail_url">
      <mat-hint>thumbnail_url</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-6" [floatLabel]="'always'">
      <input matInput placeholder="Team A Name" [(ngModel)]="item.team_a_name" name="team_a_name">
      <mat-hint>team_a_name</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-6" [floatLabel]="'always'">
      <input matInput placeholder="Team A Image Url" [(ngModel)]="item.team_a_image_url" name="team_a_image_url">
      <mat-hint>team_a_image_url</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-6" [floatLabel]="'always'">
      <input matInput placeholder="Team B Name" [(ngModel)]="item.team_b_name" name="team_b_name">
      <mat-hint>team_b_name</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-6" [floatLabel]="'always'">
      <input matInput placeholder="Team B Image Url" [(ngModel)]="item.team_b_image_url" name="team_b_image_url">
      <mat-hint>team_b_image_url</mat-hint>
    </mat-form-field>

    <mat-tab-group class="tab-content">
      <mat-tab>
        <ng-template mat-tab-label>Short Description</ng-template>
        <mat-form-field class="col-md-12" [floatLabel]="'always'">
          <textarea rows=15 matInput placeholder="Description Short" [(ngModel)]="item.description_short" name="description_short"></textarea>
          <mat-hint>description_short</mat-hint>
        </mat-form-field>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Full Description</ng-template>
        <mat-form-field class="col-md-6" [floatLabel]="'always'">
          <textarea rows=15 matInput placeholder="Description Full" [(ngModel)]="item.description_full" name="description_full" (ngModelChange)="description_full_changed($event)"></textarea>
          <mat-hint>description_full</mat-hint>
        </mat-form-field>
        <div class="col-md-6 key-feature-marked app-marked" [innerHtml]="item.description_full_marked"></div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>Image Urls</ng-template>
        <mat-form-field class="col-md-12" [floatLabel]="'always'">
          <textarea rows=15 matInput placeholder="Image Urls" [(ngModel)]="item.image_urls" name="image_urls"></textarea>
          <mat-hint>image_urls</mat-hint>
        </mat-form-field>
      </mat-tab>
      </mat-tab-group>
  </form>
  <div class="modal-footer">
    <button mat-raised-button color="accent" (click)="on_copy_click()" *ngIf="item._id"><i class="material-icons">file_copy</i> Copy Contest</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="on_save_click()">Save</button>
    <button mat-raised-button (click)="on_close_click()">Close</button>
  </div>
</div>