
<mat-toolbar color="" class="page_top_nav">
  <mat-toolbar-row>
    <ng-container *ngFor="let item of items; let last=last">
    <button mat-button [disabled] ="!item.active" (click)="left_item_on_click(item)">
      <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>{{item.text}}</button>    
    <i class="material-icons" *ngIf="!last">chevron_right</i>
    </ng-container>
    <span class="top-nav-spacer"></span>
    <button mat-icon-button (click)="on_view_mode_click()" *ngIf="config?.show_view_mode_buttons">
      <mat-icon *ngIf="!grid_view">apps</mat-icon>
      <mat-icon *ngIf="grid_view">format_list_bulleted</mat-icon>
    </button>
    <button mat-icon-button (click)="on_add_click()" *ngIf="config?.show_add_button">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="on_refresh_click()" *ngIf="config?.show_refresh_button">
        <mat-icon>refresh</mat-icon>
      </button>
  </mat-toolbar-row>

</mat-toolbar>
