<app-top-nav [items]="top_nav_items" [config]="top_nav_config"></app-top-nav>
<div class="container-fluid">
  <form>
    <mat-form-field class="col-md-4" [floatLabel]="'always'">
      <input matInput required placeholder="Contest Url" readonly [(ngModel)]="item.contest_url" name="contest_url">
      <mat-hint>contest_url</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-4" [floatLabel]="'always'">
      <input matInput required placeholder="Contest Name" readonly [(ngModel)]="item.contest_name" name="contest_name">
      <mat-hint>contest_name</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-md-2">
      <mat-select placeholder="Contest Status" [(value)]="item.contest_status">
        <mat-option *ngFor="let status of contest_status_list" [value]="status">{{status}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="on_save_click()">Close Contest & Calculate Player's Points</button>
  </form>
</div>

<mat-grid-list cols="2">
    <app-contestwinner [contest_id]="contest_id"></app-contestwinner>
    <app-usercontest [contest_id]="contest_id" (add_winner)="on_add_winner_click($event)"></app-usercontest>
</mat-grid-list>