<app-top-nav [items]="top_nav_items" [config] ="top_nav_config" (view_mode_click)="view_mode_click($event)" ></app-top-nav>

<mat-card class="logout-card">
  <mat-card-title>  </mat-card-title> 
  <img mat-card-image [src]="user.photo_url" alt={{user.full_name}}>
  <mat-card-content>
    <p>
      <strong>{{user.full_name}}</strong>
    </p>
  </mat-card-content>
  <mat-card-actions>
  <button mat-button (click) = "on_logged_out_click()">Log Out</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>