/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
}

table {
        width: 100%;
}
    
td.mat-column-action {
        width: 20px;
}

.cdk-dragable-list {
        width: 100%;
        max-width: 100%;
        border: solid 1px #ccc;
        min-height: 48px;
        display: block;
        background: white;
        border-radius: 4px;
        overflow: hidden;
}
    
.cdk-dragable-list-item {
        padding: 10px 10px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
}
    
.cdk-drag-placeholder {
        opacity: 0;
}
      
.cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
      
.cdk-dragable-list:last-child {
        /* border: none; */
}
      
.cdk-dragable-list.cdk-drop-list-dragging .cdk-dragable-list:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-input-element {
        font-size: 1.25rem !important;
}
.mat-form-field-label {
        font-size: 1.20rem !important;
}

.mat-form-field {
        padding: 0px;
        margin-bottom: 10px;
}

.index-container{
        margin: auto;
}

.spacer {
        flex: 1 1 auto;
}