<app-top-nav [items]="top_nav_items" [config] = "top_nav_config"></app-top-nav>
<div class="container-fluid">
	<form>
      <!--<mat-form-field class="col-12">
    <mat-select placeholder="Template" [(value)]="item.name">
      <mat-option *ngFor="let template of templates" [value]="template">{{template}}</mat-option>
    </mat-select>
  </mat-form-field>-->
  
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  placeholder="User Id" [(ngModel)]="item.user_id" name="user_id">
        <mat-hint>user_id</mat-hint>
        </mat-form-field>
         
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  placeholder="Contest Id" [(ngModel)]="item.contest_id" name="contest_id">
        <mat-hint>contest_id</mat-hint>
        </mat-form-field>
         
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  placeholder="Total Point" [(ngModel)]="item.total_point" name="total_point">
        <mat-hint>total_point</mat-hint>
        </mat-form-field>
         
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  placeholder="Point Updated At" [(ngModel)]="item.point_updated_at" name="point_updated_at">
        <mat-hint>point_updated_at</mat-hint>
        </mat-form-field>
         
      <mat-form-field class="col-md-12" [floatLabel]="'always'">
        <input matInput  placeholder="Ranking" [(ngModel)]="item.ranking" name="ranking">
        <mat-hint>ranking</mat-hint>
        </mat-form-field>
         
    </form>
    <div class="modal-footer">
	  <button mat-raised-button color="primary" (click)="on_save_click()">Save</button>
	  <button mat-raised-button (click)="on_close_click()">Close</button>
	</div>
</div>
