<mat-nav-list class="login-bottom-sheet">
  <div mat-list-item>
      <p>Bạn không thể gởi dự đoán vì chưa đăng nhập.</p>
      <button mat-raised-button color="primary" (click) ="on_login_click($event)">Đăng nhập ngay</button>
  </div>
</mat-nav-list>
